/* Universal Selector */

html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto','Helvetica Neue','Arial', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
}

main {
  background-color: gainsboro;
  position: relative;
  margin: 20px 10px;
  border-radius: 10px;
}

/* header section  */
header {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

/* image section */

#img-div {
  background-color: white;
  margin: 15px; 
  padding: 10px;

}

#image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;

}

#img-caption {
  margin-top: 20px; 
  margin-bottom: 10px;
}

/* info section */

#tribute-info {
  margin: 0 auto;
  padding: 20px;
  max-width: 550px;

}

#headline {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;

}

 ul {
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 2;
}

#tribute-link:hover {
  color: #ff0000
}

blockquote {
  font-style: italic;
  margin: 0 auto 50px auto;
  text-align: left;
  max-width: 545px;
  overflow: hidden;

}
